@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_MainLayout";
}
<div class="inf-box">
    <div class="inf">
        <div class="inf-item">
            <span>用户名:</span>
            <span>123456</span>
        </div>
        <div class="inf-item">
            <span>登陆名:</span>
            <span>123456</span>
        </div>
        <form>
            <div class="inf-item">
                <span>昵称:</span>
                <input type="text" placeholder="123456" />
            </div>
            <div class="inf-item">
                <span>性别:</span>
                <input type="radio" name="Sex" value="male" />男
                <input type="radio" name="Sex" value="female" />女
                <input type="radio" name="Sex" value="secret" />保密
            </div>
            <div class="inf-item">
                <span>喜欢的类型:</span>
                <span>水果</span>
                <input type="checkbox" name="foot" />
                <span>蔬菜</span>
                <input type="checkbox" name="veg">
            </div>
            <div class="inf-item">
                <span>生日:</span>
                <span><input type="date"></span>
            </div>
            <div class="inf-item">
                <span>邮箱:</span>
                <span><input type="text" placeholder="123456@qq.com" /></span>
            </div>
        </form>
    </div>
</div>  