@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_MainLayout.cshtml";
}
<div class="main">
	<div class="wrap">
    	<div class="container">
    			<div class="row">
    				<div class="col-sm-5">
    					<div class="bigpic"></div>
    					
    						<!--图片显示部分-->
    						<div id="myCarousel" class="carousel slide" data-right="carousel">
					<ol class="carousel-indicators">
			    		<li data-target="#myCarousel" data-slide-to="0" class="active"><li>
			       		<li data-target="#myCarousel" data-slide-to="1" ></li>
			        	<li data-target="#myCarousel" data-slide-to="2"></li>
		   	 		</ol>

					<div class="carousel-inner" role="listbox">
						<div class="item active">
		    				<img src="~/images/11.jpg" alt="香蕉"/>
		   				 </div>

						<div class="item">
						    <img src="~/images/11.jpg" alt="樱桃"/>
					    </div>
		    
					    <div class="item">
						    <img src="~/images/13.jpg" alt="苹果"/>
					    </div>
					</div>
					<a class="carousel-control left" href="#myCarousel" data-slide="prev" role="button">
				<span class="glyphicon glyphicon-chevron-left" ></span>
				<span class="sr-only">上一页</span>
					</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next" role="button">
				<span class="glyphicon glyphicon-chevron-right" ></span>					   
				 <span class="sr-only">下一页</span>
			</a>
		</div>
    </div>
       	<div class="col-sm-7">
        	<h3>美威 智利原味三文鱼排 240g/袋 4片装</h3>
        	    <div>
        	        <P>建议售价：25.0￥</P>
        	        <p>特惠价：18.5￥</p>
        	        <p>促销活动</p>
        	    </div>
        	        <p>选择规格：S&nbsp;&nbsp;&nbsp;M&nbsp;&nbsp;&nbsp;L</p>
        	        <p>数量：</p>
        	    </div>
    	</div>
    </div>
 </div>
</div>

<div class="blowsing" id="blowsingpart1">
    <div class="container">
        <div class="row">
            <!--右边推荐商品列表-->
            <div class="hotsale col-sm-3">
                <div>
                    <h2>热卖商品</h2>
                </div>
                <h3>哈密瓜</h3>
                <img class="img-responsive" src="~/images/哈密瓜.jpg" alt="哈密瓜" />
                <div>
                    <p class="glyphicon" glyphicon-thumbs-up>两种包装可供选择</p>
                    <div class="cur">
                        <span><a class="morebtn">添加到购物车</a></span>
                        <span><h6>一口价：￥30.00</h6></span>
                    </div>
                </div>
                <h3>哈密瓜</h3>
                <img class="img-responsive" src="~/images/哈密瓜.jpg" alt="哈密瓜" />
                <div>
                    <p class="glyphicon" glyphicon-thumbs-up>两种包装可供选择</p>
                    <div class="cur">
                        <span><a class="morebtn">添加到购物车</a></span>
                        <span><h6>一口价：￥30.00</h6></span>
                    </div>
                </div>
                <h3>哈密瓜</h3>
                <img class="img-responsive" src="~/images/哈密瓜.jpg" alt="哈密瓜" />
                <div>
                    <p class="glyphicon" glyphicon-thumbs-up>两种包装可供选择</p>
                    <div class="cur">
                        <span><a class="morebtn">添加到购物车</a></span>
                        <span><h6>一口价：￥30.00</h6></span>
                    </div>
                </div>
                <h3>哈密瓜</h3>
                <img class="img-responsive" src="~/images/哈密瓜.jpg" alt="哈密瓜" />
                <div>
                    <p class="glyphicon" glyphicon-thumbs-up>两种包装可供选择</p>
                    <div class="cur">
                        <span><a class="morebtn">添加到购物车</a></span>
                        <span><h6>一口价：￥30.00</h6></span>
                    </div>
                </div>
            </div>
            <!--左边部分-->
            <!--页签部分-->
            <div class="Tab-summary">
                <div class="container">
                    <div class="col-sm-9">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab-pingjia" role="tab" data-toggle="tab">买家评价</a></li>
                            <li><a href="#tab-shangpingxiangqing" role="tab" data-toggle="tab">商品详情</a></li>
                            <li><a href="#tab-shouhou" role="tab" data-toggle="tab">售后服务</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <!--内容1-->
                        <div class="col-sm-9">
                            <div class="tab-pane active" id="tab-pingjia">
                                <h2 class="feature-heading">
                                    主食
                                    <span class="text-muted">副标题</span>
                                </h2>
                                <p class="lead">
                                    看见的看风景的开发了贷款纠纷看到就分开的风景vjkdfjdl;sjk的防空洞看等级考试的加分的疯狂的减肥看得见封ID就分开多久科技风科技独守空房SD卡
                                </p>
                            </div>
                        </div>
                        <!--内容2-->
                        <div class="col-sm-9">
                            <div class="tab-pane" id="tab-shangpingxiangqing">
                                <h2 class="feature-heading">
                                    面条
                                    <span class="text-muted">副标题</span>
                                </h2>
                                <p class="lead">
                                    看见的看风景的开发了贷款纠纷看到就分开的风景vjkdfjdl;sjk的防空洞看等级考试的加分的疯狂的减肥看得见封ID就分开多久科技风科技独守空房SD卡
                                </p>
                            </div>
                        </div>
                        <!--内容3-->
                        <div class="col-sm-9">
                            <div class="tab-pane" id="tab-shouhou">
                                <h2 class="feature-heading">
                                    饮料
                                    <span class="text-muted">副标题</span>
                                </h2>
                                <p class="lead">
                                    看见的看风景的开发了贷款纠纷看到就分开的风景vjkdfjdl;sjk的防空洞看等级考试的加分的疯狂的减肥看得见封ID就分开多久科技风科技独守空房SD卡
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>		
    </div>
</div>